body {
    margin: auto;
    background-color: white;
    background-image: url(../img/forest-2942477.jpg);
    background-size: cover;
    background-position: center;
}

.login {
    margin: auto;
    padding: 3em;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.1em;
    box-shadow: 0px 0px 3em #282828;
    width: 30em;
    height: 24em;
}

.main_form {
    margin: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    padding: 3em;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.1em;
    box-shadow: 0px 0px 3em #282828;
    width: 90%;
    height: 100%;
}

#main_form-fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#main_form-checkboxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.text_center {
    text-align: center;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_form_input {
    margin-left: 1em;
    margin-right: 1em;
}

p, label, legend {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

/*Rend le login responsive*/
@media screen and (max-width: 576px), (max-height: 450px) {
    .login > .centered {
        top: 0;
        left: 0;
        transform: none;
    }

    .login {
        width: 100vw;
        height: 100vh;
    }

    .login-content {
        width: 25em;
        margin: auto;
    }
}

/*Rend le main_form responsive*/    /*Grands*/
@media screen and (max-width: 1200px) {
    .main_form {
        width: 100vw;
        height: 100%;
        margin: 0;
    }

    #main_form-checkboxes {
        grid-template-columns: repeat(3, 1fr);
    }

    #main_form-fields {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*Rend le main_form responsive*/ /*Moyens*/
@media screen and (max-width: 992px)
{
    #main_form-checkboxes {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*Rend le main_form responsive*/ /*Petits*/
@media screen and (max-width: 768px)
{
    #main_form-checkboxes {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*Rend le main_form responsive*/ /*Ultra small*/
@media screen and (max-width: 576px)
{
    #main_form-fields {
        grid-template-columns: repeat(1, 1fr);
    }
}
